<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Eightball</title>
  <link rel='stylesheet' href='styles.css'>
</head>
<body>

  <h2>Please Ask A Question</h2>

  <form action='/ask' method='POST'>
    Question : <input type='text' name='question'><br /><br />
    <button type='submit'>Magic eightball, what wisdom do you have</button>
  </form>

<br>
  <form action='/delete' method='GET'>
    <button type='submit'>clear answers</button>
  </form>

  <br />
  <br />
  <br />

</body>
</html>
