<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Eightball</title>
  <link rel='stylesheet' href='styles.css'>
</head>
<body>

  <h2>Ask Question</h2>

  <form action='/ask' method='POST'>
    Question : <input type='text' name='question'><br /><br />
    <button type='submit'>GO</button>
  </form>

  <br />
  <br />
  <br />

</body>
</html>
